body{
    background-color: rgb(34 34 34);
}
.bodyLight{
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color: rgb(0, 0, 0);
}
.screen{
    background-color: rgb(33 33 33);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(102, 102, 102);
    border-radius: 5px;
}
.screen:hover{
    background-color: rgb(32, 32, 32);
}
.screenLight{
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0); 
    border: 2px solid black;
    border-radius: 5px;
}
.screenLight:hover{
    background-color: rgb(206, 206, 206);
}

.input{
    text-align: end;
    
    background-color: rgb(33 33 33);
    border: none;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.input:hover{
    background-color: rgb(32, 32, 32); 
}
.inputLight{
    background-color: rgb(221, 221, 221);
    color: black;   
}
.inputLight:hover{
    background-color: rgb(206, 206, 206);   
}
.cell{
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(106 106 106);
    color: rgb(255, 255, 255);
    /* border: 2px solid white; */
}
.cell:hover{
    background-color: rgb(145 145 145);
}
.cellLight{
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: 2px solid black
}

.cellLight:hover{
    background-color: rgb(179, 179, 179);
}

.del{
    width: 58px;
    border-radius: 5px;
}
.equal{
    background-color: #45c5c5;
    color: black;
}
.equal:hover{
    background-color: #4fdfdf;
}
.textDisable{
    color: rgb(160 160 160);
}