.col{
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(56, 56, 56);
}
.screen{
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
}
.screen:hover{
    background-color: rgb(76, 76, 76);
}
.screenDark{
    background-color: rgb(0 40 78);
    color: rgb(255, 255, 255); 
}
.screenDark:hover{
    background-color: rgb(0, 83, 151);
}
.col:hover{
    background-color: rgb(87, 87, 87);
}
.colDark{
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(0 40 78);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.colDark:hover{
    background-color: rgb(0 77 138);
}


.body{
    background-color: rgb(0, 57, 107);
}
